<div class="footerCont">
    2   │   <div class="linksCont">
    3   │     Charles Villalpando--
    4   │     <span> Portfolio</span>
    5   │     (Coming soon)--
    6   │     <span >
    7   │       <a href="https://github.com/charlesvill?tab=repositories">
    8   │         <img class="ghLogo" src="/github-mark.png" />
    9   │       </a>
   10   │     </span>
   11   │   </div>
 </div>
