<% if (locals.formErrors && Array.isArray(locals.formErrors)) { %>
    <ul>
      <% locals.formErrors.forEach(function(error) { %>
        <li><%= error.msg %></li>
      <% }); %>
    </ul>
  <% } %>
