<% if(messages !== undefined && Array.isArray(messages)){ %>
    <% messages.forEach(msg => { %>
      <div class="msgCont">
        <div><%= msg.text %></div>
        <div class="authorText"><%= user.membership ? msg.username : "" %></div>
        <% if(user.admin) {%>
          <form action="/delete/<%= msg.id %>" method="POST">
              <button type="submit" class="deleteBtn">delete</button>
          </form>
        <% } %>
      </div>
    <% }); %>
<% } %>