<% if(messages !== undefined && Array.isArray(messages)){ %>
    <% messages.forEach(msg => { %>
       <div><%= msg.text %></div>
       <div><%= user.membership ? msg.username : "" %></div>
       <form action="/delete/<%= msg.id %>" method="POST">
        <button type="submit">delete</button>
        </form>
    <% }); %>
<% } %>