<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <main>
        <span><%= messages.error ? locals.messages.error : ""%></span>
        <form action="/log-in" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username">
            <label for="password">Password</label>
            <input type="password" name="password">
            <button type="submit">Log in</button>
        </form>
        <div>
            <h6>Don't have an account? <a href="/sign-up">click here!</a></h6>
        </div>
    </main>
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>