<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <main>
        <span><%= message ? message : ""%></span>
        <form action="/log-in" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username">
            <label for="password">Password</label>
            <input type="password">
            <button type="submit">Log in</button>
        </form>
    </main>
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>