<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Members Only!</title>
</head>
<body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <main>
        <h2>Whats the Magic word?</h2>
        <form action="/secret" method="post" class="secret form">
            <div class="wrapper">
                <label for="secret">Secret code</label>
                <input type="text" name="secret" id="secret">
            </div>
            <button type="submit">Submit</button>
        </form>

    </main>
    <footer>
        <%- include('./partials/footer'); %>
    </footer>
</body>
</html>