:root {
  --foreground: #0A091B;
  /* --foreground: #4C5270; */
  --accent: #f3cd74;
  --message: #c7f954;
  --black: #0e050f;
  --site-max-width: clamp(500px, 100%, 1280px);
  --message-base-width: 16rem;
  --form-base-width: 20rem;
  --badge-size: 1.2rem;
}


/* whole document */
body {
  background-color: var(--foreground);
  color: whitesmoke;

}

a {
  text-decoration: none;
}

/* Header */
header {
  width: var(--site-max-width);
}
header h1 {
  color: var(--accent);
}

header h3 {
  color: var(--message);
}

header .headerCont {
  display: flex;
  justify-content: space-between;
}

header .greetingCont {
  display: flex;
  margin: .1em;
  gap: .2em;
  align-items: center;
}

header .logOutBtn {
  opacity: 0%;
}

header .greetingCont:hover > form > button {
  opacity: 100%;
}

header img {
  height: var(--badge-size);
  width: auto;
}

/* main content */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: var(--site-max-width);
}

main .threadCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  border-radius: 15px;
  width: 80%;
}

main .msgCont {
  flex: 1;
  min-width: var(--message-base-width);
  padding: .5rem;
  background-color: var(--message);
  border-radius: 15px;
  margin: 1rem 2rem;
  color: var(--black);
}

main .authorText {
  display: flex;
  flex-direction: column;
  margin-top: .3rem;
  color: darkgray;
  align-items: flex-end;
}

main .deleteBtn {
  opacity: 0%;
}

.msgCont:hover > form > button {
  opacity: 100%;
  cursor: pointer;
  background-color: red;
  border-radius: 5px;
}

main .plusBtn {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

main .plusBtn:hover {
  background-color: var(--accent);
  border-radius: 30px;
}

main .form {
  display: flex;
  flex-direction: column;
  min-width: var(--form-base-width);
  gap: 1rem;
  background-color: var(--accent);
  border-radius: 12px;
  padding: 2rem;
  color: var(--black);
}

main .wrapper {
  display: flex;
  justify-content: space-between;
}

main .errList {
  color: red;
  list-style: none;
  background-color: var(--black);
  border-radius: 5px;
  padding: .5rem;
}



/* footer */

footer {
  width: clamp(500px, 100%, 1280px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

footer .linksCont {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .ghLogo {
  width: var(--badge-size);
}
